*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}
ul,li{
    padding:0; margin:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}

//variables
$cyan: #2acfcf;
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkViolet: hsl(260, 8%, 14%);

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: $gray;
}
.container{
    width: 85%;
    max-width: 1112px;
    margin: 0 auto;
}
.button{
    display: inline-block;
    padding: 0.9375rem 0rem;
    background-color: $cyan;
    border: none;
    border-radius: 30px;
    text-align: center;
    width: 12.5rem;
    font-weight: 700;

    &:hover{
        color:white;
        opacity: 0.6;
    }
}



