@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #bfbfbf;
}

.container {
  width: 85%;
  max-width: 1112px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 0.9375rem 0rem;
  background-color: #2acfcf;
  border-radius: 30px;
  text-align: center;
  width: 12.5rem;
}

.button:hover {
  color: white;
  opacity: 0.6;
}

.header {
  padding: 2.5rem 0rem 1.875rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header img {
  height: 1.875rem;
  width: auto;
}

.header .harmburger-btn {
  margin-left: auto;
  height: 1.5rem;
  width: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .harmburger-btn:hover {
  cursor: pointer;
}

.header .harmburger-btn span {
  display: inline-block;
  width: 1.5625rem;
  height: 0.25rem;
  background-color: #bfbfbf;
  padding: 0;
  margin: 0;
}

.header #desktop__navigation-menu {
  display: none;
}

.header #mobile__drop-down {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #3b3054;
  border-radius: 10px;
  position: absolute;
  top: 5.5rem;
  left: -150%;
}

.header #mobile__drop-down ul li {
  text-align: center;
  margin: 2.5rem 0rem;
}

.header #mobile__drop-down ul li a {
  color: white;
  font-size: 1rem;
}

.header #mobile__drop-down ul li a:hover {
  color: #bfbfbf;
}

.header #mobile__drop-down ul li .button {
  width: 85%;
}

.header #mobile__drop-down ul li .button:hover {
  color: white;
}

.header #mobile__drop-down ul hr {
  width: 90%;
  margin: 0 auto;
  color: #9e9aa7;
  height: 1px;
}

@media only screen and (min-width: 785px) {
  .header {
    padding: 3.125rem 0rem 5rem;
  }
  .header img {
    height: 2.5rem;
    width: auto;
  }
  .header #mobile__drop-down, .header .harmburger-btn {
    display: none;
  }
  .header #desktop__navigation-menu {
    display: block;
    padding-left: 3.125rem;
    width: 100%;
  }
  .header #desktop__navigation-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
  .header #desktop__navigation-menu ul li a {
    color: #9e9aa7;
    font-weight: 700;
  }
  .header #desktop__navigation-menu ul li a:hover {
    color: #232127;
  }
  .header #desktop__navigation-menu ul li .button {
    color: white;
    width: 6.875rem;
  }
  .header #desktop__navigation-menu ul li .button:hover {
    color: white;
    opacity: 0.6;
  }
  .header #desktop__navigation-menu ul li:nth-child(3) {
    margin-right: auto;
  }
}

.spanOneEnd {
  -webkit-animation: spanOneEnd 200ms ease-in-out forwards;
          animation: spanOneEnd 200ms ease-in-out forwards;
}

.spanTwoEnd {
  -webkit-animation: spanTwoEnd 200ms ease-in-out forwards;
          animation: spanTwoEnd 200ms ease-in-out forwards;
}

.spanThreeEnd {
  -webkit-animation: spanThreeEnd 200ms ease-in-out forwards;
          animation: spanThreeEnd 200ms ease-in-out forwards;
}

.dropDownEnd {
  -webkit-animation: dropDownEnd 600ms ease-in-out 150ms forwards;
          animation: dropDownEnd 600ms ease-in-out 150ms forwards;
}

.spanOneReturn {
  -webkit-animation: spanOneReturn 700ms ease-in-out forwards;
          animation: spanOneReturn 700ms ease-in-out forwards;
}

.spanTwoReturn {
  -webkit-animation: spanTwoReturn 700ms ease-in-out forwards;
          animation: spanTwoReturn 700ms ease-in-out forwards;
}

.spanThreeReturn {
  -webkit-animation: spanThreeReturn 700ms ease-in-out forwards;
          animation: spanThreeReturn 700ms ease-in-out forwards;
}

.dropDownReturn {
  -webkit-animation: dropDownReturn 700ms ease-in-out forwards;
          animation: dropDownReturn 700ms ease-in-out forwards;
}

@-webkit-keyframes spanOneEnd {
  from {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(240%) rotate(45deg);
            transform: translateY(240%) rotate(45deg);
  }
}

@keyframes spanOneEnd {
  from {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(240%) rotate(45deg);
            transform: translateY(240%) rotate(45deg);
  }
}

@-webkit-keyframes spanTwoEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spanTwoEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes spanThreeEnd {
  from {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-240%) rotate(-45deg);
            transform: translateY(-240%) rotate(-45deg);
  }
}

@keyframes spanThreeEnd {
  from {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-240%) rotate(-45deg);
            transform: translateY(-240%) rotate(-45deg);
  }
}

@-webkit-keyframes dropDownEnd {
  from {
    left: -150%;
    -webkit-transform: none;
            transform: none;
  }
  to {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes dropDownEnd {
  from {
    left: -150%;
    -webkit-transform: none;
            transform: none;
  }
  to {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes spanOneReturn {
  from {
    -webkit-transform: translateY(240%) rotate(45deg);
            transform: translateY(240%) rotate(45deg);
  }
  to {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
}

@keyframes spanOneReturn {
  from {
    -webkit-transform: translateY(240%) rotate(45deg);
            transform: translateY(240%) rotate(45deg);
  }
  to {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
}

@-webkit-keyframes spanTwoReturn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spanTwoReturn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes spanThreeReturn {
  from {
    -webkit-transform: translateY(-240%) rotate(-45deg);
            transform: translateY(-240%) rotate(-45deg);
  }
  to {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
}

@keyframes spanThreeReturn {
  from {
    -webkit-transform: translateY(-240%) rotate(-45deg);
            transform: translateY(-240%) rotate(-45deg);
  }
  to {
    -webkit-transform: translateY(0%) rotate(0deg);
            transform: translateY(0%) rotate(0deg);
  }
}

@-webkit-keyframes dropDownReturn {
  from {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    left: -150%;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes dropDownReturn {
  from {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    left: -150%;
    -webkit-transform: none;
            transform: none;
  }
}

.hero {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr 1fr/ 1fr;
      grid-template-areas: "img" "content";
  padding-bottom: 10.625rem;
}

.hero__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  background-image: url(../images/illustration-working.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30px 0px;
  height: 21.875rem;
  margin-bottom: 2.5rem;
}

.hero .container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.hero .container .hero__content {
  width: 100%;
  text-align: center;
}

.hero .container .hero__content h1 {
  font-size: 2.125rem;
  font-weight: 700;
  color: #232127;
  line-height: 1.15;
  margin-bottom: 1.875rem;
}

.hero .container .hero__content p {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 631px) {
  .hero {
    width: 100%;
    height: 40rem;
    padding-bottom: 9.375rem;
    display: block;
    position: relative;
  }
  .hero .container {
    height: 100%;
  }
  .hero .container .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 47%;
    height: 100%;
    text-align: start;
  }
  .hero .container .hero__content h1 {
    font-size: 2rem;
  }
  .hero .container .hero__content p {
    font-size: 1.125rem;
  }
  .hero__image {
    position: absolute;
    right: 0;
    width: 50%;
    height: 60%;
    background-position: 10px 0px;
  }
}

@media only screen and (min-width: 1133px) {
  .hero .container .hero__content {
    width: 45%;
  }
  .hero .container .hero__content h1 {
    font-size: 3.75rem;
  }
  .hero .container .hero__content p {
    font-size: 1.25rem;
  }
  .hero__image {
    width: 45%;
    height: 100%;
    background-position: 2px 0px;
  }
}
/*# sourceMappingURL=style.css.map */